.robot-container {
  height: 1000px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
}

.robot-face-shape {
  height: 600px;
  width: 600px;
  border: 20px solid aqua;
  border-radius: 10%;
  background-color: linear-gradient(45deg, #222, aqua);
}

.robot-eye-left {
  height: 100px;
  width: 100px;
  background-color: palegoldenrod;
  position: relative;
  top: 150px;
  left: 120px;
  border-radius: 30px 10px 30px 100px;
}

.robot-eye-right {
  height: 30px;
  width: 100px;
  background-color: violet;
  position: relative;
  top: 100px;
  left: 320px;
}

.robot-ear-left {
  height: 120px;
  width: 120px;
  background-color: yellowgreen;
  position: relative;
  bottom: 350px;
  right: 380px;
  border-radius: 100%;
}

.robot-ear-right {
  height: 120px;
  width: 120px;
  background-color: violet;
  position: relative;
  bottom: 480px;
  left: 380px;
  border-radius: 100%;
}

.robot-nose {
  width: 0;
  height: 0;
  border-left: 50px solid transparent; 
  border-right: 50px solid transparent; 
  border-top: 50px solid orange;
  margin: 2rem;
  position: relative;
  top: 140px;
  left: 190px;
}

.robot-teeth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  height: 100px;
  width: 320px;
  position: relative;
  top: 140px;
  left: 120px;
  gap: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.robot-tooth {
  height: 45px;
  width: 40px;
  background-color: white;
}

.robot-hair-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  height: 80px;
  position: fixed;
  top: 50px;
}

.robot-hair-one {
  align-self: flex-end;
  height: 30px;
  width: 45px;
  background-color: green;
}

.robot-hair-two {
  align-self: flex-end;
  height: 45px;
  width: 45px;
  background-color: gold;
}

.robot-hair-three {
  align-self: flex-end;
  height: 60px;
  width: 45px;
  background-color: hotpink;
}
